/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


.userList .actionBtns i {
  font-size: 1.25em;
}

.userList  i.fa-times {
    color:darkred;
}

.userList i.fa-times:hover {
    color:#ff0000;
}


.userList .actionBtns .fa-pencil {
    color: #003b99;
    margin-left: .5em;
}

.userList .actionBtns .fa-pencil:hover {
    color: #3381ff;
}


.userList .actionBtns .fa-pencil {
    color: #0058e6;
    margin-left: .5em;
}

.userList .actionBtns .fa-pencil:hover {
    color: #4d91ff;
}

.open-dialog {
    border-radius: 3px;
    margin: 10px;
}

.confirmation-dialog, .edit-dialog {
    display: none;
}


.gray-table-striped>tbody>tr:nth-child(odd)>td, .gray-table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f2f2f2;   
                                                }

.myHeader {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.addButton {
    margin-bottom: .75em;
}

.addButton .my-input-group.input-group {
    float:left;
    margin-left:15px;
}

.addButton .my-input-group .input-group-addon {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.addButton .pull-right {
    margin-right:15px;
}

p.helpBlock {
    margin-bottom: 2px !important;
}