<div class="container userList">

  <div class="myHeader">

User Table
  </div>
  
<div class="pull-right addButton">
  <button type="button" class="btn btn-success" ng-click="showAddUserDialog()">Add New User</button>
</div>

<table class='table table-bordered gray-table-striped'>

  <tbody>
    <thead>
      <tr>
        <th ng-repeat="col in cols">
          
          <my-header ng-if="col.sortKey" ng-click="doSorting(col.sortKey)" show-up="showArrow(true, col.sortKey)"
                     show-down="showArrow(false, col.sortKey)"> {{col.display}} </my-header>
          <span ng-hide="col.sortKey"> {{col.display}} </span>
        </th>
      </tr>
    </thead>

    
    <tr ng-repeat="user in users | orderBy:sortType:sortReverse">
      <td>{{ user.id}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td class="actionBtns"> <i ng-click="maybeDelete(user.id, user.name)" title='delete the user: {{user.name}}' class="fa fa-times"></i>
           <i ng-click="editUser(user.id, user.name, user.email)" title='edit the user: {{user.name}}' class="fa fa-pencil"></i>
      </td>
    </tr>
  </tbody>

</table>


 <div id="confirmation-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
            </div>
            <div class="modal-body">
              <div class="span5">{{confirmationDialogConfig.message}}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-click="doDeletion(confirmationDialogConfig.userId)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> <!-- end confirmation dialog -->


 <div id="edit-dialog">
      <div class="modal fade edit-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{editDialogConfig.title}}</h4>
            </div>
            <div class="modal-body">
              <form name="userForm" class="form-horizontal" novalidate> <!-- novalidate means don't do html5 validation, do it ourselves -->
                <div class="form-group">
                  <label for="fullname" class="col-sm-2 control-label">Full Name</label>
                  <div class="col-sm-10 form-group"  ng-class="{ 'has-error' : userForm.fullname.$invalid && !userForm.fullname.$pristine }"   >
                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter user's full name" ng-model="editDialogConfig.name"  jrs-enter="maybeSubmit()"
                           ng-blur="setToDirty('fullname')"
                           required>
                     <p ng-show="userForm.fullname.$invalid && !userForm.fullname.$pristine" class="help-block">Full Name is required.</p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10 form-group"  ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="editDialogConfig.email" jrs-enter="maybeSubmit()"
                           ng-blur="setToDirty('email')"
                           required>
                     <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-if="editDialogConfig.editing" ng-click="doEditing()" class="btn btn-primary" ng-disabled="userForm.$invalid">Save</button>
              <button type="button" ng-hide="editDialogConfig.editing" ng-click="addNewUser()" class="btn btn-primary" ng-disabled="userForm.$invalid">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end editing dialog -->

</div>
