<div class="container userList">
<p>This is the partial for view 1.</p>

<table class='table table-bordered table-striped'>

  <tbody>

    <tr ng-repeat="user in users">
      <td>{{ user.id}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td> <i ng-click="maybeDelete(user.id, user.name)" title='delete the user: {{user.name}}' class="fa fa-times"></i>
    </tr>
  </tbody>

</table>


 <div id="confirmation-dialog">
      <div class="modal fade confirmation-dialog" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{confirmationDialogConfig.title}}</h4>
            </div>
            <div class="modal-body">
              <div class="span5">{{confirmationDialogConfig.message}}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" ng-click="doDeletion(confirmationDialogConfig.userId)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
